
.green
{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 1px black solid;


}
.blue
{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 1px black solid;
    
}